.lr_user_image{
	float:left;
	height:66px;
	width:66px;
	padding:2px;
	margin-right:10px;
	border:1px solid #FFFFFF;
}
.lr_user_image:hover{
	box-shadow: 0 0 4px #000000;
}
.ls_add_question_text,.ls_add_question_submit{
	float:left;
}
.ls_add_question_text{
	width:50%;
	margin:10px 10px 10px 0px;
}
.ls_list_questions{
	float:left;
	width:60%;
}
.lr_subject_list{
	float:left;
	width:30%;
	margin-left:30px;
}
.lr_subject_list ul li{
	height:114px;
	width:114px;
	background-color:#4891dc;
	margin: 0px 10px 10px 0px;
	float:left;
}
.ls_list_questions ul{
}
.ls_list_questions ul .lr_question_list_content{
	clear:both;
	background-color:#4891dc;
	width:96%;
	color:#FFFFFF;
	opacity:1.0;
	margin:0px 0px 6px 0px;
}
.ls_list_questions ul .lr_question_list_content a{
	text-decoration:none;
}
.ls_list_questions ul .lr_question_list_content .lr_question_answer_link{
	display:none;
	font-size:12px;
	padding-left:0px;
	color:#FFFFFF;
}
.ls_list_questions ul .lr_question_list_content:hover .lr_question_answer_link{
	display:inline;
} 
.ls_list_questions ul .lr_question_list_content .lr_question_answer_link:hover{
	text-decoration:underline;
	cursor:pointer;
}
.ls_list_questions .lr_question_text{
	height:55px;
	overflow:hidden;
}
.lr_login_user_info{
	float:right;
}
.lr_login_user_name{
	float:left;
	color:#FFFFFF;
	font-size:12px;
	margin:0px 10px 0px 0px;
}
.lr_login_user_image{
	height:24px;
	width:24px;
	border:1px solid #FFFFFF;
	float:left;
	margin:0px 10px 0px 0px;
}
.lr_add_question{
	margin:0px 0px 10px 0px;
}
.lr_add_question_form{
	margin:0px 0px 10px 0px;
	border-left: 4px solid #CD4900;
}
.lr_add_question_tags,.lr_all_subject_list{
	margin:10px 0px 0px 0px;
}
.ls_list_questions .lr_tag_list{
	margin-top:10px;
}
.ls_list_questions ul .lr_tag_item{
	padding:2px;
	background-color:#5A5858;
	margin:4px 2px 0px 0px;
	font-size:10px;
	float:left;
}

/***************************************
question/index.php
***************************************/
.lr_question_info{
	width:100%;
	padding:10px;
	margin:10px 0px 10px 0px;
	height:auto;
	background-color:#4891DC;
}
